body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9ef0b4;
}
footer {
    background-color: #162518;
    color: white;
    padding: 4px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.column2 {
    background-color: #162518;
    color: white;
    padding: 4px 0;
    text-align: center;
}
.column1 {
    background-color: #162518;
    color: white;
    padding: 4px 0;
    text-align: center;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 15px;
}

.buttons button {
    padding: 5px 20px;
    font-size: 16px;
    background-color: #2fa857;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.buttons button:hover {
    background-color: #39e5c5;
    transform: scale(1.1);
}
b {
    font-size: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 1;
    padding: 0.5em;
}
.right, .left {
    float: right;
    padding: 0.2em;
    margin-right: 15px;
    font-size: 30px;
    background-color: #356746;
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.3s ease;
}
.right:hover, .left:hover {
    background-color: #39e5c5;
    transform: scale(1.1);
    color: #356746;
}
textarea {
    resize: none;
    width: 90%;
    height: 150px;
    padding: 15px;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    margin: 15px;
}
textarea:focus {
    outline: none;
}
.play {
    padding: 10px 20px;
    font-size: 20px;
    margin: 15px;
    background-color: #2fa857;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.play:hover {
    background-color: #39e5c5;
    transform: scale(1.1);
}