li {
	float: left;
}
li a {
	display: block;
	padding: 14px 16px;
	background: #0D0D0D;
	margin: 0px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	border-right: 3px solid;
	border-left: 3px solid;
	border-radius: 25px;
	transition: 0.3s;
}
li a:hover {
	color: #F2E852;
	background-color: #732424;
}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #0D0D0D;
	position: fixed;
	width: 98%;
	border-radius: 25px;
}
.active {
	background-color: #8C6723;
}
body {
	font-family: Tahoma, sans-serif;
	background-color: #f6f0f0;
}
.container_1 {
	display: flex;
	text-align: center;
}
.container_1_left {
	width: 15%;
}
.container_1_right {
	width: 15%;
}
.container_1_center {
	width: 70%;
}
.container_2 {
	display: flex;
	text-align: center;
}
.container_2 div {
	width: 30%;
	padding-left: 25px;
	padding-right: 25px;
}
.white_with_shadow {
	color: white; 
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
          -1px 1px 0 #000, 1px 1px 0 #000, 4px 4px 0 black;
}
.container_3 {
	display: flex;
	text-align: center;
}
.container_3 div {
	width: 25%;
	float: left;
	padding-left: 35px;
	padding-right: 35px;
}
.button {
	border: 3px solid #732424;
	background-color: white;
	color: #8C6723;
	border-radius: 25px;
	padding: 16px 32px;
	font-size: 16px;
	transition-duration: 0.4s;
	font-weight: 600;
}
.button:hover {
	background-color: #732424;
	border: 3px solid #F2E852;
}
.button a:hover {
	color: #F2E852;
}
.checked {
  color: orange;
}
.official {
	background-color: #D92323;
}