.container {
	display: inline-block;
	clear: both;
	width: 45%;
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
	line-height: 1.4;
	border-radius: 18px;
	margin: 15px;
}
.row {
	width: auto;
	float: left;
	padding-left: 10px;
}
.row a {
	color: white;
	font-size: 17px;
}
body {
	background-color: #fbfad9;
	color: white;
}
.row li {
	font-size: 17px;
}
h1 {
	text-shadow: 1.5px 1.5px #8c8b5e;
}
.row h2 {
	text-shadow: 1.5px 1.5px #8c8b5e;
}