.container {
	display: table;
	clear: both;
	width: 60%;
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
	line-height: 1.4;
}
.row {
	width: 50%;
	float: left;
}
.row a {
	color: white;
	font-size: 17px;
}
body {
	background-color: #56bd5e;
}
.row li {
	font-size: 17px;
}
body {
	color: white;
}
h1 {
	text-shadow: 2px 2px #56bd5e;
}
.row h2 {
	text-shadow: 2px 2px #56bd5e;
}