code {
	font-family: Consolas,"courier new";
	color: crimson;
	background-color: white;
	padding: 2px;
	font-size: 105%;
}
body {
	font-family: "Roboto", sans-serif;
	background-color: #fbfad9;
}
.container {
	display: inline-block;
	width: 45%;
	float: left;
	margin-right: 20px;	
	margin-left: 20px;
	margin-top: 35px;
	background-color: #cacaab;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 40px;
	border-radius: 20px;
}