body {
    margin: 0;
    line-height: 5px;
    font-weight: 600;
    background: #c1ae82;
}
.box {
    padding-top: 50px;
    margin: auto;
    text-align: center;
    margin: auto;
    width: 50%;
}
p {
    color: white;
    text-align: center; 
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 4px 4px 0 black;
    font-weight: 800;
    font-size: 40px;
}
hr {
    width: 90%;
    margin: 0 auto;
    border: 2px solid white;
}
img {
    width: 80%;
    height: 80%;
    padding: 20px;
}